{% extends 'base.html' %}
{% block title %}Add feedback{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>Add feedback</h1>

        <form action="/users/{{username}}/feedback/add" method="POST">
            {{ form.hidden_tag() }}
            {% for field in form
            if field.widget.input_type !='hidden' %}
            <p>
                {{field.label}}
                {{field(class_="form-control")}}
                {% for error in field.errors %}
                {{error}}
                {% endfor%}
            </p>
            {% endfor %}
            <button class="btn btn-primary">Add Feedback</button>
        </form>
    </div>
</div>
{% endblock %}