{% extends 'base.html' %}
{% block title %}Secret!{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>This is the secret user detail page</h1>

        <ul>
            <li>{{u.username}}</li>
            <li>{{u.email}}</li>
            <li>{{u.first_name}}</li>
            <li>{{u.last_name}}</li>

        </ul>
        <h5>Feedback</h5>
        <ul>{% for f in feedback %}
            <li><b>{{f.title}}</b> - {{f.content}}<a href="/feedback/{{f.id}}/update"> Edit </a><a
                    href="/feedback/{{f.id}}/delete">X</a></li>
            {% endfor %}
        </ul>
        <p><button class="btn btn-primary"><a href="/users/{{u.username}}/feedback/add" style="color: white;">Add
                    Feedback</a></button></p>
        <p><a href="/logout">Logout</a></p>
        <a href="/users/{{u.username}}/delete">Delete me</a>
    </div>
</div>
{% endblock %}